<div class="card card-custom">
  <div class="card-header card-header-custom">
    <h5 class="mb-0">Edit Institute</h5>
  </div>
  
  <div class="card-body">
    <%= form_with(model: [:admin, @institute], local: true) do |f| %>
      <% if @institute.errors.any? %>
        <div class="alert alert-danger">
          <h6>Please fix the following errors:</h6>
          <ul>
            <% @institute.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <%= f.label :name, class: "form-label" %>
            <%= f.text_field :name, class: "form-control", placeholder: "Enter institute name" %>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="form-group">
            <%= f.label :code, class: "form-label" %>
            <%= f.text_field :code, class: "form-control", placeholder: "Enter unique code" %>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="form-group">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, class: "form-control", placeholder: "Enter email address" %>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="form-group">
            <%= f.label :contact_number, class: "form-label" %>
            <%= f.text_field :contact_number, class: "form-control", placeholder: "Enter contact number" %>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="form-group">
            <%= f.label :institution_type, "Institution Type" %>
            <%= f.select :institution_type, options_for_select([['School', 'School'], ['Hospital', 'Hospital'], ['Business firm', 'Business firm'], ['Other', 'Other']], @institute.institution_type), {}, { class: 'form-select' } %>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="form-group">
            <%= f.label :registered_poc, "Registered POC", class: "form-label" %>
            <%= f.text_field :registered_poc, class: "form-control", placeholder: "Enter point of contact name" %>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="form-group">
            <%= f.label :owner_name, "Owner Name", class: "form-label" %>
            <%= f.text_field :owner_name, class: "form-control", placeholder: "Enter owner name" %>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="form-group">
            <%= f.label :service_started_on, "Service Started On", class: "form-label" %>
            <%= f.date_field :service_started_on, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="form-group">
            <%= f.label :age_of_service, "Age of Service (years)", class: "form-label" %>
            <%= f.number_field :age_of_service, class: "form-control", min: 0, placeholder: "Enter service age in years" %>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="form-group">
            <%= f.label :billing_type, "Billing Type", class: "form-label" %>
            <%= f.text_field :billing_type, class: "form-control", placeholder: "Enter billing type" %>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="form-group">
            <%= f.label :expiry_date, "Expiry Date", class: "form-label" %>
            <%= f.date_field :expiry_date, class: "form-control" %>
          </div>
        </div>

        <div class="col-12 mb-3">
          <div class="form-group">
            <%= f.label :address, class: "form-label" %>
            <%= f.text_area :address, class: "form-control", rows: 3, placeholder: "Enter full address" %>
          </div>
        </div>

        <div class="col-12 mb-3">
          <div class="form-group">
            <%= f.label :description, class: "form-label" %>
            <%= f.text_area :description, class: "form-control", rows: 4, placeholder: "Enter institute description" %>
          </div>
        </div>

        <div class="col-12 mb-3">
          <div class="form-group">
            <%= f.label :other_details, "Other Details", class: "form-label" %>
            <%= f.text_area :other_details, class: "form-control", rows: 3, placeholder: "Enter any additional details" %>
          </div>
        </div>

        <div class="col-12 mb-3">
          <div class="form-check">
            <%= f.check_box :active, class: "form-check-input" %>
            <%= f.label :active, class: "form-check-label" %>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <%= f.submit "Update Institute", class: "btn btn-custom-primary" %>
        <%= link_to "Cancel", admin_institute_path(@institute), class: "btn btn-outline-custom ms-2" %>
      </div>
    <% end %>
  </div>
</div> 