<%= form_with(model: [:institute_admin, @user], url: @user.persisted? ? institute_admin_participant_path(@user) : institute_admin_participants_path, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h6>Please fix the following errors:</h6>
      <ul class="mb-0">
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="form-group">
        <%= f.label :first_name, class: "form-label" %>
        <%= f.text_field :first_name, class: "form-control", placeholder: "Enter first name" %>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <%= f.label :last_name, class: "form-label" %>
        <%= f.text_field :last_name, class: "form-control", placeholder: "Enter last name" %>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
      </div>
    </div>

    <%= f.fields_for :participant do |participant_form| %>
      <div class="col-md-6 mb-3">
        <div class="form-group">
          <label class="form-label">Phone Number</label>
          <div class="input-group">
            <span class="input-group-text bg-light text-muted" style="width: 60px;">+91</span>
            <%= participant_form.text_field :phone_number, 
                class: "form-control #{'is-invalid' if participant_form.object.errors[:phone_number].any?}", 
                placeholder: "Enter 10-digit number" %>
            <% if participant_form.object.errors[:phone_number].any? %>
              <div class="invalid-feedback">
                <%= participant_form.object.errors[:phone_number].first %>
              </div>
            <% end %>
          </div>
          <small class="text-muted">Enter 10 digits without country code</small>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="form-group">
          <%= participant_form.label :date_of_birth, class: "form-label" %>
          <%= participant_form.date_field :date_of_birth, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="form-group">
          <%= participant_form.label :section_id, "Section", class: "form-label" %>
          <%= participant_form.collection_select :section_id, 
              @sections, :id, :name,
              { prompt: "Select Section" }, 
              { class: "form-select" } %>
        </div>
      </div>
    <% end %>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <%= f.label :password_confirmation, class: "form-label" %>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password" %>
      </div>
    </div>

    <%= f.fields_for :participant do |participant_form| %>
      <div class="col-md-6 mb-3">
        <div class="form-group">
          <%= participant_form.label :status, class: "form-label" %>
          <%= participant_form.select :status, 
              Participant.statuses.keys.map { |s| [s.titleize, s] },
              {}, 
              { class: "form-select" } %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-4">
    <%= f.submit @user.new_record? ? "Create Participant" : "Update Participant", class: "btn btn-custom-primary" %>
    <%= link_to "Cancel", institute_admin_participants_path, class: "btn btn-outline-custom ms-2" %>
  </div>
<% end %> 