<%= form_with(model: [:institute_admin, @trainer], local: true) do |f| %>
  <% if @trainer.errors.any? %>
    <div class="alert alert-danger">
      <h6>Please fix the following errors:</h6>
      <ul class="mb-0">
        <% @trainer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="form-group">
        <%= f.fields_for :user do |user_f| %>
          <%= user_f.label :first_name, "Name", class: "form-label" %>
          <%= user_f.text_field :first_name, class: "form-control", placeholder: "Enter name" %>
          <%= user_f.hidden_field :last_name, value: "" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <%= f.fields_for :user do |user_f| %>
          <%= user_f.label :email, class: "form-label" %>
          <%= user_f.email_field :email, class: "form-control", placeholder: "Enter email" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <%= f.label :phone_number, class: "form-label" %>
        <%= f.text_field :phone_number, class: "form-control", placeholder: "Enter phone number" %>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <%= f.label :specialization, class: "form-label" %>
        <%= f.text_field :specialization, class: "form-control", placeholder: "Enter specialization" %>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <%= f.label :qualification, class: "form-label" %>
        <%= f.text_field :qualification, class: "form-control", placeholder: "Enter qualification" %>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <%= f.label :experience_years, class: "form-label" %>
        <%= f.number_field :experience_years, class: "form-control", placeholder: "Years of experience" %>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <%= f.label :status, class: "form-label" %>
        <%= f.select :status, 
            Trainer.statuses.keys.map { |s| [s.titleize, s] },
            {}, 
            { class: "form-select" } %>
      </div>
    </div>

    <div class="col-md-12 mb-3">
      <div class="form-group">
        <%= f.label :certificates, "Certifications", class: "form-label" %>
        <%= f.text_area :certificates, class: "form-control", rows: 3, placeholder: "Enter certifications (comma separated)" %>
      </div>
    </div>

    <div class="col-md-12 mb-3">
      <div class="form-group">
        <%= f.label :experience_details, "Experience Details", class: "form-label" %>
        <%= f.text_area :experience_details, class: "form-control", rows: 3, placeholder: "Enter detailed experience information" %>
      </div>
    </div>

    <div class="col-md-12 mb-3">
      <div class="form-group">
        <%= f.label :payment_details, "Payment Details", class: "form-label" %>
        <%= f.text_area :payment_details, class: "form-control", rows: 3, placeholder: "Enter payment details" %>
      </div>
    </div>

    <div class="col-md-12 mb-3">
      <div class="form-group">
        <%= f.label :other_details, "Other Details", class: "form-label" %>
        <%= f.text_area :other_details, class: "form-control", rows: 3, placeholder: "Enter any additional information" %>
      </div>
    </div>

    <%= f.fields_for :user do |user_f| %>
      <div class="col-md-6 mb-3">
        <div class="form-group">
          <%= user_f.label :password, class: "form-label" do %>
            Password <%= @trainer.new_record? ? "" : "(leave blank if you don't want to change it)" %>
          <% end %>
          <%= user_f.password_field :password, class: "form-control", placeholder: @trainer.new_record? ? "Enter password" : "Enter new password (optional)" %>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="form-group">
          <%= user_f.label :password_confirmation, class: "form-label" %>
          <%= user_f.password_field :password_confirmation, class: "form-control", placeholder: @trainer.new_record? ? "Confirm password" : "Confirm new password (optional)" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="form-actions mt-4 d-flex gap-2">
    <%= f.submit @trainer.new_record? ? "Create Trainer" : "Update Trainer", class: "btn btn-primary" %>
    <%= link_to "Cancel", institute_admin_trainers_path, class: "btn btn-secondary" %>
  </div>
<% end %> 