<%= form_with(model: [:institute_admin, @trainer], local: true) do |f| %>
  <% if @trainer.errors.any? %>
    <div class="alert alert-danger">
      <h6>Please fix the following errors:</h6>
      <ul class="mb-0">
        <% @trainer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :user do |user_form| %>
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="form-group">
          <%= user_form.label :username, class: "form-label" %>
          <%= user_form.text_field :username, class: "form-control", placeholder: "Enter username" %>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="form-group">
          <%= user_form.label :email, class: "form-label" %>
          <%= user_form.email_field :email, class: "form-control", placeholder: "Enter email" %>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="form-group">
          <%= user_form.label :first_name, class: "form-label" %>
          <%= user_form.text_field :first_name, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="form-group">
          <%= user_form.label :last_name, class: "form-label" %>
          <%= user_form.text_field :last_name, class: "form-control" %>
        </div>
      </div>

      <% unless @trainer.persisted? %>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <%= user_form.label :password, class: "form-label" %>
            <%= user_form.password_field :password, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="form-group">
            <%= user_form.label :password_confirmation, class: "form-label" %>
            <%= user_form.password_field :password_confirmation, class: "form-control" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="form-group">
        <%= f.label :specialization, class: "form-label" %>
        <%= f.text_field :specialization, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <%= f.label :qualification, class: "form-label" %>
        <%= f.text_field :qualification, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <%= f.label :experience_years, class: "form-label" %>
        <%= f.number_field :experience_years, class: "form-control", min: 0 %>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <%= f.label :status, class: "form-label" %>
        <%= f.select :status, 
            Trainer.statuses.keys.map { |s| [s.titleize, s] },
            {}, 
            { class: "form-select" } %>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <%= f.submit @trainer.new_record? ? "Create Trainer" : "Update Trainer", class: "btn btn-custom-primary" %>
    <%= link_to "Cancel", institute_admin_trainers_path, class: "btn btn-outline-custom ms-2" %>
  </div>
<% end %> 